<!DOCTYPE html>
<html lang ="en">

<head>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <title>MeGen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .card-header {
            border-bottom: none !important;
        }
    </style>
</head>

<body>
    <div class="container pb-3 text-center pt-5">
        <a href="/orders" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom">
            Orders
        </a>
        <a href="/delfor" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom">
            Delfor
        </a>
        <a href="/stockmovement" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom">
            Stock movements
        </a>
        <a href="/kanban" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom">
            Kanban
        </a>
        <a href="/asnV2" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom">
            ASN - v2
        </a>
    </div>
</body>